mat-form-field,
input
{
  width: 100%;
}

mat-card {
  margin: 5rem 5rem;

  background: -webkit-radial-gradient(center, ellipse, rgb(167, 243, 148), rgb(6, 243, 77));
  width: 50%;
   border-radius: 8px;

}

#contenedor{

  text-align: center;
  border-radius: 5%;
  position: absolute;

   left: 35%;
   top: 30%;

  padding: 10px;
  border: 5px ;
  width: 400px;
  margin: 5px;
  background: -webkit-radial-gradient(center, ellipse, rgb(167, 243, 148), rgb(6, 243, 77));

 box-shadow: rgb(150,150,150)10px 10px 10px;

}


